<div class="homes">
    <article>
        <h1>General Instructions</h1>
        <h3>The following instructions will be checked during the evaluation so
        be sure that you apply them for your project not to be graded 0.</h3>
        <ul>
            <li>This rush must be coded in PHP (in case you were wondering).</li>
            <li>You are allowed to use HTML, CSS and Javascript.</li>
            <li>Pre-made HTML templates are forbidden, as well as CSS frameworks<br>
                (e.g. Bootstrap)</li>
            <li>You can only use Javascript libraries for the bonus part.</li>
            <li>Errors should be handled carefully (e.g. no SQL injection should<br>
                be possible if you're using a database)</li>
            <li>Object oriented programming is forbidden (check out mysqli
                procedural mode if you're using a database).</li>
            <li>Try to maintain a good and clear structure for your project.</li>
            <li>Anything that is not specifically authorized is forbidden.</li>
            <li>You can ask your questions on the forum, on slack, etc. Good luck for
                this rush!</li>
        </ul>
    </article>
</div>